# We need lizard-1.17.9 with maintainabilityindex extension, while Graal needs lizard-1.16.6.
# But we do not use Graal's lizard backend, so uninstall lizard-1.16.6 and install 1.17.9.
git+https://github.com/nirhasabnis/lizard
